.bottle-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

@media only screen and (min-width: 480px) {
    .bottle-container
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .bottle-container
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .bottle-container
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}